<div class="about_us" xmlns="http://www.w3.org/1999/html">
  <h1>Kilka słów o nas</h1>
  <div id="o_nas_left">
    <h4>
      Yours House jest firmą remontową działającą na rynku ponad 5lat.
      Od tego czasu na swoim koncie zebraliśmy bardzo dużą ilość wykonanych realizacji.
      Cechuje nas przede-wszystkim rzetelność i sumienność oraz zaangażowanie w to co robimy.
      Dla nas zawsze najważniejszy jest klient, dlatego też zawsze jesteśmy otwarci na wszelkiego rodzaju propozycje ze strony klienta.
      W naszej pracy bardzo duży nacisk kładziemy nie tylko na wartość techniczną ale również wizualną.
      Nasi pracownicy regularnie przechodza różnego rodzaju szkolenia,
      w efekcie czego poszerzają swoją wiedzę oraz umiejętności z zakresu nowych technologii i materiałów.
      Przyjmujemy zlecenia na wykończenie mieszkania w stanie developerskim jak również do remontu generalnego na terenie Warszawy i okolic.
      Realizujemy wszystkie projekty: od najprostszych po najbardziej ambitne. Pracujemy dokładnie, nie spieszymy się, dysponujemy pełnym zapleczem technicznym i dużym doświadczeniem.
      Zapewniamy przyjazną atmosferę i wysoką kulturę osobistą.
      W cenie usługi jest stały nadzór i doradztwo. Udzielamy gwarancji.
    </h4>
    </br>
    <h4>
      Lubimy swoją pracę, jesteśmy kreatywni. Chętnie doradzamy, proponujemy odpowiednie rozwiązania, wykonujemy projekty
      wnętrz.
      Dbamy o dobrą komunikację, zdejmujemy z inwestora większość obowiązków związanych z zakupem i dostarczeniem
      materiałów.
      Wszyscy nasi klienci mogą liczyc na indywidualne podejście, pełen profesjonalizm, szybka i co najwazniejsze czytelną
      ofertę cenową,
      a także jasny zakres obowiązków.

    </h4> </br>
  </div>

  <h3> Nasza usługa jest kompleksowa i obejmuje wszystkie elementy sztuki budowlanej.</h3></br>
  <h3>Posiadamy wszystkie niezbędne narzędzia</h3>
  <p>Dzięki czemu nie muszą się państwo martwić o jakość usług.</p>

  <div id="o_nas_left">
    <h2>Firma Yours House oferuje</h2>
    <ul>
      <li> pełen zakres usług</li>
      <li> profesjonalny projekt</li>
      <li> profesjonalne wykonawstwo</li>
      <li> gwarancję uslugi</li>
      <li> dokumentację prac</li>
    </ul>
  </div>

  <p>
    Dziękujemy za zainteresowanie nasza ofertą i zapraszamy do współpracy.
  </p>

</div>