<div class="gallery">

  <div id="photo">
   <%= form_tag do %>
    <fieldset>
     <legend><h1>Niezwykłe Miszkania</h1></legend>
      <div class="neighborhood">
        <div class="container">
            <h4>Nasi zadowoleni klieci i ich spelnione marzenia.</h4>

              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/korytarz.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/pulki.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/luk.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/noc.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/dzien.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/brodzik.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/sufit.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czerwona-sciana.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czerwona-umywalka.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czerwona-szafka.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czarna.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czarna-sugit.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czarna-sciana.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/umywalka.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czarna-kibelek.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czarna-lustro.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/czarna-cala.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/2.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/4.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/5.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/6.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/7.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/8.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/9.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/1.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/3.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/33.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/11.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/22.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/44.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/braz-biel.jpg" style="cursor:pointer"/>
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/biala.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/drzwi-bila.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/schody.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/schody-ju.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/schody-calosc.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/prysznic.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/brazowa.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/brazowa2.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/now2-kamien.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/podloga-now.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/podloga-now2.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/podloga-now3.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/now55.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/zielona-sciana.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/zielona-lazienka.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/zielona-drzwi.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/zielona-kibelek.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/zielona-pulka.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/edyta-zielony.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/edyta-fiolet.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/edyta-pokuj2.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/edyta-korytarz.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/edyta-wiecej-kor.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/kib.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/kib2.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/struktura.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/edyta-pokuj.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/sufitanie.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/laz-ani.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/sufit-anny.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/1a.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/2a.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/3a.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/4a.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/lazienka5.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/5a.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/lazienka-galeria.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/marek.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/00c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/0c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/1c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/2c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/3c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/4c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/5c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/6c.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/7c.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/zaokrąglona.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="Tokyo" src="/assets/photo_gallery/marmur.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/nietypowo.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/kamien.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/cotto_kamien.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/Kerlite.jpg">
                  </div>
                </div>


                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/plytki-podlogowe1.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/inaczej.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/plytki4.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/elegancko.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/posadzka.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/plytki_chodnikowe.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/plytki_ceramiczne.jpg">
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="thumbnail">
                    <img src="/assets/photo_gallery/plytki-ceraminczne.jpg" alt="plytki-ceramiczne">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </fieldset>
  <% end %>
  </div>
</div>